<html>

<head>
    {% include 'partials/header.twig' %}
</head>

<body>
<div class="page">
    {% include 'nav.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'partials/sidebar.twig' %}
            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <div class="container">
                    <div class="row nozomi-gutter">
                        <div class="col-md-3 offset-md-9">
                            <div class="btn-toolbar text-light" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/nozomi/page/new" class="btn btn-primary">+ Page</a>
                                    <a href="/nozomi/user/new" class="btn btn-primary">+ User</a>
                                    <a href="/nozomi/file/new" class="btn btn-primary">+ File</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nozomi-gutter">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body centereverything">
                                    <h1 class="card-title">{{ pages }}</h1>
                                    <h3 class="card-text">Pages</h3>
                                    <a href="/nozomi/page/view" class="btn btn-primary">View Pages</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body centereverything">
                                    <h1 class="card-title">1</h1>
                                    <h3 class="card-text">Users</h3>
                                    <a href="/nozomi/user/view" class="btn btn-primary">View Users</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row nozomi-gutter">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body centereverything">
                                    <h1 class="card-title">0</h1>
                                    <h3 class="card-text">Files</h3>
                                    <a href="/nozomi/file/view" class="btn btn-primary">View Files</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body centereverything">
                                    <h1 class="card-title">1</h1>
                                    <h3 class="card-text">Themes</h3>
                                    <a href="/nozomi/settings" class="btn btn-primary">Change Theme</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
{% include 'partials/footer.twig' %}
</body>

</html>